[build]
  command = "npm run build"
  publish = "dist"
  functions = "functions"

[build.environment]
  VITE_ROUTER_MODE = "hash"
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
